body{
    width: 100%;
    height: 100%;
    font-family: 'Barlow Semi Condensed', sans-serif;
}
h1{
    font-family: 'Caveat', cursive;
    font-size:12vw;
}
p{
    font-size:5vw;
}
  img {
    position: absolute;
    left: 50%;
    top: 50%;
    height: 100%;
    width: 100%;
    -webkit-transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
            transform: translate(-50%,-50%);
  }

  center{
      width: 100%;
      height: 100%;
    position: absolute;
  }

  #click-door{
    position: absolute;
    left: 40%;
    top: 50%;
  }